.loader-box {
  display: flex;
  justify-content: center;
  align-content: start;
  width: 100%;
  height: 100vh;
}

.track-list {
  justify-content: center;
  margin: 30px;
}

div.heading{
  text-align:center;
  font-size: 1.2em;
}