.box{
    color: rgb(61, 60, 60);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    border: 1px solid #abaaaa;
    border-radius: 10px;
    padding: 30px 10px;
    margin: 30px 40px;
}

section{
  align-self: center;
}

.header{
  display: flex;
  font-weight: 600;
  font-size: 1.5em;
  color: #103783;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.header .icon {
  margin: 3px 3px 3px 5px;
  padding: 1px;
}

.text {
  margin-bottom: 14px;
}

.text div {
  text-align: center;
}

.search-section {
  color: #777;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.input-container {
  width: 100%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
}

.input-container input {
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  width: 90%;
  font-weight: 200;
}

.input-container input::placeholder {
  color: #cacaca;
  font-weight: 200;
}

.input-container button {
  width: 20%;
  border: none;
  border-left: 1px #cacaca solid;
  background-color: #f0eded;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.image-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.image-section img {
  margin: 1px;
  min-width: 250px;
  max-width: 33%;
  flex-grow: 1;
}
