div.song-box {
  width: 250px;
  height: 400px;
  background: white;
  padding: 0.4em;
  border-radius: 6px;
  border-inline-end: 3px solid rgb(226, 226, 226);
  border-bottom: 3px solid rgb(226, 226, 226);
  cursor: pointer;
}

.image {
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 0 auto;
}

.song-title {
  text-align: center;
  font-size: 1em;
  margin-top: 5px;
  font-weight: 600;
}

.meta {
  display: flex;
  /* padding: 3px; */
}

div.meta .icon {
  margin: 3px 3px 3px 5px;
  padding: 1px;
}

.artist {
  margin-top: 8px;
}
